{% extends "site_base.html" %}
{% block head_title %}QUERY THE SITE{% endblock %}
{% block body %}

INSTRUCTIONS<br>
To make sure your upload will work as expected, check your bibtex file. For data to be stored
on the site, the tags must be below:
<br><br>
 	author, ref_tag, author_list, title, journal, volume, pages, year
<br><br>
If the upload doesn't produce the submission you want, consider modifying the customize.py file in bibtex/bibstore
<br>
it is well documented and should be very easy to use




{% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
{% endif %}




<form enctype="multipart/form-data" action="" method="post"> {% csrf_token %} 
    <ul>
        {{ form.as_ul }}
    </ul>
    <input type="submit" value="Submit">
</form>



{% endblock %}

